<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="new_news">
		<div>
			<div class="row">
				<div class="col-1"></div>
				<div class="col-10">
					<h1>最新消息</h1>
					<table class="table table-borderless">
						<thead>
							<tr>
								<th scope="col" class="col-2">編號</th>
								<th scope="col" class="col-4">標題</th>
								<th scope="col" class="col-2">發佈人</th>
								<th scope="col" class="col-2">發佈日期</th>
								<th scope="col" class="col-2">更新日期</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
								<td>@mdo</td>
								
							</tr>
							
						</tbody>
					</table>

				</div>
				<div class="col-1"></div>
			</div>
		</div>
	</div>
</body>
</html>